$color-white: #fff;
$color-light-pink:#dabed8;
$color-light-blue: #a9c7e8;
$color-purple: #1a6fb4;
$color-black: rgba(0, 0, 0, 0.6);
$color-shadow: 3px 3px 10px $color-purple, $color-light-blue -3px 3px 10px, 3px -3px 10px;
$color-shadow-clicked: 3px 3px 10px $color-light-blue, white -3px 3px 10px, 3px -3px 10px;