@mixin notebook {
    @media (min-width: 1024px) {
      @content;
    }
  }
  
  @mixin tablet {
    @media (min-width: 805px) {
      @content;
    }
  }
  
  @mixin sections_mobile {
    display:block;
    width: 100%;
    height: auto;
    padding: 2rem 2rem;
    margin: 0 auto;
    margin-bottom: 4rem;
    border: 1px solid $color-purple;
    background-image: url("../Images/about_me_background.jpeg");
    background-size: cover;
    background-position: center;
  }

  @mixin sections_tablet {
    display: flex;
    width: 90%;
    text-align: center;
    align-items: center;
    margin-bottom: 5rem;
    padding: 6rem 6rem;
  }

  @mixin sections_centered_description {
    @include notebook{
      padding: 6rem 6rem;
    }
    margin-bottom: 5rem;
    width: 90%;
  }

  @mixin sections_notebook {
    margin-bottom: 7rem;
  }

  @mixin img_circle {
    background-size: cover;
    background-position: right;
    color: rgb(36, 167, 255);
    width: 18rem;
    height: 18rem;
    align-items: center;
    border-radius: 50%;
    box-shadow: $color-shadow-img;
    margin: 0 auto;
    margin-top: 3rem;
    text-align: center;
    outline: none;
  }
  