.aboutme {
    display:block;
    background-color: $color-black;
    width: 90%;
    height: auto;
    padding: 2rem 1rem;
    margin: 0 auto;
    border-radius: 1rem;
    box-shadow: $color-shadow;
    background-image: url("../Images/AdobeStock_341174344.jpeg");
    background-size: cover;
    @include notebook {
        display: flex;
        padding: 3rem 3rem;

    }
    &__description{
        opacity: 0.7;
        width: 100%;
        text-align: center;
        justify-content: center;
        @include notebook {
            width: 60%;
        }

    }
   
    &__image{
        background-image: url("../Images/myphoto.jpeg");
        background-size: cover;
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
        margin: 0 auto;
        box-shadow: $color-shadow;
        @include notebook {
            width: 16rem;
            height: 16rem;  
        }
    }
}