.aboutme {
    @include sections_mobile;
    
    @include tablet {
        @include sections_tablet;
    }

    @include notebook {
        @include sections_notebook;
    }

    &__description {
        width: 100%;
        text-align: center;
        justify-content: center;

        @include notebook {
            width: 60%;
        }
    }
   
    &__image {
        background-image: url("../Images/myphoto.jpeg");
       @include img_circle;
       background-position: top;
       margin-bottom: 1rem;

        @include notebook {
            width: 16rem;
            height: 16rem; 
            margin: 3rem; 
        }
    }
}
