.contact{
    display:block;
    width: 90%;
    height: auto;
    padding: 2rem 2rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    border: 1px solid $color-purple;
    background-image: url("../Images/about_me_background.jpeg");
    background-size: cover;
    background-position: center;
    @include tablet {
        display: flex;
        padding: 6rem 6rem;
        text-align: center;
        align-items: center;
        margin-bottom: 5rem;
    }

    @include notebook{
        margin-bottom: 7rem;
    }

}