.footer {
    width: 100%;
    background-color: $color-menu-background;
  
    &_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 20vh;
      padding: 1.5rem;
    }
    &_item {
        color: $color-purple;
        text-align: center;

    }
  
    &_logos {
      display: flex;
      padding: 1rem;

    }
    &_logo {
      margin-right: 1rem;
    }
  }