.hobbies {
    width: 90%;
    height: auto;
    padding: 2rem 1rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    border: 1px solid $color-purple;
    background-image: url("../Images/about_me_background.jpeg");
    background-size: cover;
    background-position: center;

    @include tablet {
        padding: 6rem 4rem;
        margin-bottom: 5rem;
    }

    @include notebook {
        margin-bottom: 7rem;
    }

    &__header {
        text-align: center;
    }

    &__text {
        @include tablet{
        text-align: center;
        }
    }

    &__box {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
        margin: 0  auto;  
    }

    &__hobby {
        width: 15rem;
        height: 15rem;
        border-radius: 1rem;
        margin: 0.3rem;
        background-size: cover; 
        background-color: aliceblue; 
        background-position: center;

        @include tablet {
            margin: 1rem;
            width: 20rem;
            height: 15rem;
        }
    }

    &__hobby:first-child {
        background-image: url("../Images/hobby_1.jpeg");
    }
    &__hobby:nth-child(2) {
        background-image: url("../Images/hobby_2.jpeg");
        background-position: bottom;
    }
    &__hobby:nth-child(3) {
        background-image: url("../Images/hobby_3.jpeg");
    }
    &__hobby:nth-child(4) {
        background-image: url("../Images/hobby_4.jpeg");
    }
    &__hobby:nth-child(5) {
        background-image: url("../Images/hobby_5.jpeg");
        background-position: center;
    }
}
