.hobbies {
   @include sections_mobile;

    @include tablet {
        @include sections_centered_description;
    }

    @include notebook {
        @include sections_notebook;
    }

    &__header {
        text-align: center;
    }

    &__text {
        @include tablet{
        text-align: center;
        }
    }

    &__box {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
        margin: 0  auto;  
    }

    &__hobby {
        width: 6rem;
        height: 6rem;
        border-radius: 1rem;
        margin: 0.3rem;
        background-size: cover; 
        background-color: aliceblue; 
        background-position: center;

        @include tablet {
            margin: 1rem;
            width: 10rem;
            height: 10rem;
        }
    }

    &__hobby:first-child {
        background-image: url("../Images/hobby_1.jpeg");
    }
    &__hobby:nth-child(2) {
        background-image: url("../Images/hobby_2.jpeg");
        background-position: bottom;
    }
    &__hobby:nth-child(3) {
        background-image: url("../Images/hobby_3.jpeg");
    }
    &__hobby:nth-child(4) {
        background-image: url("../Images/hobby_4.jpeg");
    }
    &__hobby:nth-child(5) {
        background-image: url("../Images/hobby_5.jpeg");
        background-position: center;
    }
    &__hobby:nth-child(6) {
        background-image: url("../Images/hobby_6.jpeg");
        background-position: top;
    }
    &__hobby:nth-child(7) {
        background-image: url("../Images/hobby_7.jpeg");
        background-position: center;
    }
    &__hobby:nth-child(8) {
        background-image: url("../Images/hobby_8.jpeg");
        background-position: center;
    }
}
