 nav {
  @include notebook {
    position:fixed ;
    width: 100%;
    z-index: 2;
    align-items: center;
    text-align: center;
     }
  
  span {
      vertical-align: middle;
      color: $color-purple;
      outline: none;

      :first-of-type {
      color: $color-light-blue;
  }
}

  .menu__btn {
    display: none;
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0;
  
      &:checked {
        & ~ .menu__nav {
            display: block;
            float: left;
            width: 90%;
            border: 1px solid $color-light-blue;
            background-color: $color-menu-background-mobile;
            padding: 1rem;
            margin-left: 1rem;
    
            @include tablet{
              width: 90%;
              background-position: left;
            }

            @include notebook {
              display: none;
            }
  
            .nav__element {
              padding-bottom: 0.5rem;
              padding-top: 0.5rem;
              width: 100%;
              text-align: center;
              font-size: 1.5rem;

              a {
                color: $color-white;
              }
             
              a:active {
                color: $color-purple;
              }
            }
          }
        }
      }

  .menu__toggle {
    display: block;
    float: right;
    margin: 2rem;

    @include notebook {
      display: none;
    }

    span {
      width: 40px;
      height: 3px;
      display: block;
      margin-bottom: 6px;
      background-color: $color-purple;
      transition: .3s all ease-in-out;
      align-items: end;

      &:last-child {
          margin-bottom: 0;
      }
    }
  }
  
 
  
  .menu__nav {
    display: none;
    
    @include notebook {
      background-color: $color-menu-background;
      box-shadow: $color-shadow-img;
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      overflow: hidden;

      .nav__element {
        padding-top: 2rem;
        margin: 2.5rem;
  
        a {
          color: $color-purple;
          background-color: $color-dark-purple;
          padding: 1rem;
          border: 1px solid ;
        }

        :hover {
          border: 1px solid $color-light-blue;
          color: $color-light-blue;
        }

        :active {
          box-shadow: $color-shadow-clicked; 
        }
      }
    }
  }
}
