 nav {
  @include notebook{
    text-align: center;
    position: fixed;
   }

  .menu__btn {
    display: none;
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0;
  
      &:checked {
        & ~ .menu__nav {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 80%;
            margin: 0 auto;
            padding: 1.5rem;
            border: 1px solid $color-light-blue;
            background-image: url("../Images/web_background.jpeg");
            background-size: cover;
            background-position: center;

              @include notebook{
                display: none;
              }
  
            .nav__element {
              padding-bottom: 0.5rem;
              padding-top: 0.5rem;
              width: 100%;
              text-align: center;
              font-size: 1.15rem;
              a{
                color: $color-white;
              }
             
              a:active {
                color: $color-purple;
              }
            }
          }
        }
      }
      
  
      .menu__toggle {
        display: block;
        float: right;
        margin: 1.5rem;
  
        span {
          width: 40px;
          height: 3px;
          display: block;
          margin-bottom: 6px;
          background-color: $color-purple;
          transition: .3s all ease-in-out;
          align-items: end;
  
          &:last-child {
            margin-bottom: 0;
          }
        }
  
        @include notebook {
          // display: none;
          position: fixed;
        }
      }
    }

    
    .menu__nav{
      // display: none;
  
      @include notebook{
          margin-top:4rem;
          display: block;
       
                      
          .nav__element{
            width: 8rem;
            margin: 1rem;   
  
            a{
              display: block;
              color: $color-purple;
              padding: 1.5rem;
              border: 1px solid ;
              margin-top:2rem;
            }

            :hover{
              border: 1px solid $color-light-blue;
              color: $color-light-blue;
            }

            :active {
              box-shadow: $color-shadow-clicked; 
            }
          }
        }
      }
    