 nav {
  @include notebook{
    position:fixed ;
    background-color: rgb(34, 22, 36);
    width: 100%;
    z-index: 1;

  }

  .menu__btn {

    display: none;
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0;
  
      &:checked {
        & ~ .menu__nav {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            padding-top: 1rem;
            background-color: black;
            opacity: 0.7;
            box-shadow: $color-shadow;
            border-radius: 1rem;
              @include notebook{
                display: none;
              }
  
            .nav__element {
              padding-bottom: 1rem;
              padding-top: 1rem;
              width: 100%;
              text-align: center;
              font-weight: 700; 
              font-size: 1.5rem;
              a{
                color: $color-light-pink;
  
              }
             
              a:active {
                color: $color-purple;
              }
            }
          }
        }
      }
      
  
      .menu__toggle {
        display: block;
        float: right;
        margin: 2rem;
  
        span {
          width: 40px;
          height: 3px;
          display: block;
          margin-bottom: 6px;
          background-color: $color-purple;
          transition: .3s all ease-in-out;
          align-items: end;
  
          &:last-child {
            margin-bottom: 0;
          }
        }
  
        @include notebook {
          display: none;
        }
      }
    }
  
    .menu__nav{
      display: none;
  
      @include notebook{
          display: flex;
          justify-content: flex-end;
          padding-right: 4.5rem;
          padding-bottom: 2rem;
          
  
          .nav__element{
            padding-left: 1.2rem;
            padding-top: 2rem;
  
            a{
              color: $color-purple;
              padding: 1rem;
              border: 1px solid rgb(34, 22, 36);
              
              
            }
            :hover{
              border: 1px solid $color-light-purple;
              color: $color-light-purple;
            }
            :active {
              box-shadow: $color-shadow-clicked; 
            }
  
          }
        }
      }