.projects {
    @include sections_mobile;

    @include tablet {
        @include sections_tablet;
    }

    @include notebook {
        @include sections_notebook;
    }
    
    &__description {
        width: 100%;
        text-align: center;
        justify-content: center;

        @include notebook {
            width: 60%;
        }
    }

    &__github {
        background-image: url("../Images/github.png");
        background-size: cover;
        width: 2rem;
        height: 2rem;
    }

    &__image {
        background-image: url("../Images/hpquiz.jpg");
       @include img_circle;

        @include notebook{
            margin-top: 0;
        }
    }

    &__harrypotter {
        padding-top: 12rem;
        font-size: 1.5rem;
        font-weight: 300;
    }
        
    .btn__projects {
        background-image: url("../Images/github_btn.png");      
        background-repeat: no-repeat; 
        background-position: left;
        padding-left: 2.5rem;
    }
}
