.projects{
    display:block;
    background-color: $color-black;
    width: 90%;
    height: auto;
    padding: 2rem 1rem;
    margin: 0 auto;
    margin-top: 2rem;
    border: 1px solid $color-purple;
    background-image: url("../Images/about_me_background.jpeg");
    background-size: cover;
    @include notebook {
        display: flex;
        padding: 6rem 6rem;
        margin-top: 2rem;
        align-items: center;
        margin: 0 auto;


    }
    &__description{
        width: 100%;
        text-align: center;
        justify-content: center;
        @include notebook {
            width: 60%;
        }
    }

    &__github{
        background-image: url("../Images/github.png");
        background-size: cover;
        width: 2rem;
        height: 2rem;
    }

    &__image {
        background-image: url("../Images/hpquiz.jpg");
        background-size: cover;
        background-position: right;
        color: rgb(36, 167, 255);
        width: 18rem;
        height: 18rem;
        align-items: center;
        border-radius: 50%;
        box-shadow: $color-shadow-img;
        margin: 0 auto;
        margin-top: 3rem;
        text-align: center;
        outline: none;
        @include notebook{
            margin-top: 0;
        }
        }
        &__harrypotter{
            padding-top: 12rem;
            font-size: 1.5rem;
            font-weight: 300;
        }
        .btn__projects{
            background-image: url("../Images/github_btn.png");      
            background-repeat: no-repeat; 
            background-position: left;
            padding-left: 2.5rem;
        }
}