.projects{
    display:block;
    background-color: $color-black;
    width: 90%;
    height: auto;
    padding: 2rem 1rem;
    margin: 0 auto;
    margin-top: 2rem;
    border: 1px solid $color-purple;
    background-image: url("../Images/about_me_background.jpeg");
    background-size: cover;
    @include notebook {
        display: flex;
        padding: 6rem 6rem;
        margin-top: 2rem;

    }
    &__description{
        opacity: 0.7;
        width: 100%;
        text-align: center;
        justify-content: center;
        @include notebook {
            width: 60%;
        }
    }

    &__image {
        background-image: url("../Images/hpquiz.jpg");
        background-size: cover;
        background-position: right;
        color: rgb(36, 167, 255);
        width: 16rem;
        height: 16rem;
        align-items: center;
        border-radius: 50%;
        box-shadow: $color-shadow;
        margin: 0 auto;
        outline: none;
        }
}