.tools {
    @include sections_mobile;

    @include tablet {
        padding: 6rem 6rem;
        margin-bottom: 5rem;
    }

    @include notebook {
        @include sections_notebook;
    }
    
    &__header {
        text-align: center;
    }

    &__text {

        @include tablet {
            text-align: center;
        }
    }

    &__box {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        height: auto;
        justify-content: center;
        margin: 0  auto;
    }

    &__tool {
        width: 4rem;
        height: 4rem;
        border-radius: 1rem;
        margin: 0.3rem;
        background-size: cover; 
        background-color: aliceblue; 
        background-position: center;

        @include tablet {
            margin: 1rem;
            width: 5rem;
            height: 5rem;
        }

        @include notebook {
            margin: 1rem;
            width: 5rem;
            height: 5rem;
        }
    }
    
    &__tool:first-child {
        background-image: url("../Images/JS-logo.png");        
    }
    &__tool:nth-child(2) {
        background-image: url("../Images/react.png");
    }
    &__tool:nth-child(3) {
        background-image: url("../Images/node.jpg");
    }
    &__tool:nth-child(4) {
        background-image: url("../Images/babel.png");
    }
    &__tool:nth-child(5) {
        background-image: url("../Images/html.png");
    }
    &__tool:nth-child(6) {
        background-image: url("../Images/css_nowe_logo.png");
    }
    &__tool:nth-child(7) {
        background-image: url("../Images/JSON_vector_logo.svg.png"); 
    }
    &__tool:nth-child(8) {
        background-image: url("../Images/gulp.png");
    }
    &__tool:nth-child(9) {
        background-image: url("../Images/webpack.png");
    }
    &__tool:nth-child(10) {
        background-image: url("../Images/sass.png");
    }
    &__tool:nth-child(11) {
        background-image: url("../Images/npm.png");
    }
    &__tool:nth-child(12) {
        background-image: url("../Images/firebase.png");
    }
    &__tool:nth-child(13) {
        background-image: url("../Images/jira.jpg");
    }
    &__tool:nth-child(14) {
        background-image: url("../Images/github.png");
    }
    &__tool:nth-child(15) {
        background-image: url("../Images/Git-Icon-1788C.png");
    }
    &__tool:nth-child(16) {
        background-image: url("../Images/trello.png");
    }
}
