.tools {
    background-color: $color-black;
    width: 90%;
    height: auto;
    padding: 2rem 1rem;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 1rem;
    box-shadow: $color-shadow;
    // background-image: url("../Images/background.jpeg");
    background-size: cover;
    @include notebook {
        padding: 3rem 3rem;

    }
    &__header {
        text-align: center;
    }
    &__box {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        height: auto;
        justify-content: center;
        margin: 0  auto;
        
    }
    &__tool {
        width: 5rem;
        height: 5rem;
        border-radius: 1rem;
        margin: 0.2rem;
    }
    &__tool:first-child{
        background-image: url("../Images/JS-logo.png");
        background-size: cover;
        
    }
    &__tool:nth-child(2){
        background-image: url("../Images/react.png");
        background-size: cover;
        background-position: center;
    }
    &__tool:nth-child(3){
        background-image: url("../Images/node.jpg");
        background-size: cover; 
    }
    &__tool:nth-child(4){
        background-image: url("../Images/babel.png");
        background-size: cover;
        background-position: center;
        background-color: aliceblue; 
    }
    &__tool:nth-child(5){
        background-image: url("../Images/html.png");
        background-size: cover; 
        background-color: aliceblue; 

    }
    &__tool:nth-child(6){
        background-image: url("../Images/css_nowe_logo.png");
        background-size: cover; 
    }
}