.btn {
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 1rem 1.5rem;
  outline: 0;
  z-index: 1;
  color: white;
  // position: relative;
  user-select: none;
  -webkit-user-select: none;
  border: 1px solid $color-light-blue;
  touch-action: manipulation;
  background-color: $color-black;
  
  a:active {
    color: $color-purple;
  }

  @include notebook {
    position: relative;
    background-color: inherit;
    cursor: pointer;

    .btn:active {
      box-shadow: $color-shadow-clicked;
    }
  }
}

@include notebook {
  .btn:after {
    content: "";
    background-image: url("../Images/about_me_background.jpeg");
    background-size: cover;
    background-position: center;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 0.6rem;
    left: 0.6rem;
    transition: 0.2s;
  }

  .btn:hover:after {
    top: 0px;
    left: 0px;
  }
}
