.btn {
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 1rem 1.5rem;
  outline: 0;
  color: white;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: $color-shadow;
  background-color: $color-light-blue;
  @include notebook{
    background-color: inherit;
    .btn:active{
      box-shadow: $color-shadow-clicked;
    }
  }
 
}
@include notebook{
  .btn:after {
    content: "";
    // background-color: $color-metalic;
    background-image: url("../Images/about_me_background.jpeg");
    background-size: cover;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 0.6rem;
    left: 0.6rem;
    transition: 0.2s;
  }

  .btn:hover:after {
    top: 0px;
    left: 0px;
  }
}